html {
	background-color: black;
}

#top_bar {
	background-color: #3e3e3e;
}

.body {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

#footer{
	background-color: #3e3e3e;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.blurb {
	float: right;
	padding-right: 20%;
}

.blurb span{
	color: #4e739d;
	font-size: 1.2em;
	top: -14.5em;
	padding-left: 2em;
	position: relative;
}

#share {
	font-size: 1.75em;
	position: relative;
	top: -6em;
}

#get {
	position: relative;
	font-size: 4.35em;
	top:-3.6em;
}

#bluelogo {	
	margin-top: 20px;
	margin-left: 20%;
	}

#top_bar {
	margin-bottom: -19px;
}

#cowface {
	margin-left: 20%;
}

ul {
	position: relative;
	font-size: 1.1em;
	top: -17em;
}

#appstore {
	position:relative;
	top: -17em;
	padding-left: 1em;
}

#copyright {
	margin-left: 20%;
	padding-top: 15px;
	font-size: .75em;
}

#whitelogo {

	right: 0px;
	position: absolute;
	margin-right: 20%;
	bottom:2em;

	
}

#footer {
	padding-bottom: 300px;
}

/* This is the css for the video player */

#video {
	margin-top: 40px;
	margin-left: 20%;
}

iframe {
	border: solid 5px #3e3e3e;
}